<% content_for :title, "Demenaji - Annonces immobilières." %>
<% content_for :mainpage do %>
  <div class="container-main-page row">
    <div class="col-md-6 col-lg-4" id="mainsidebar">

      <div class="loading-overlay" id="list-overlay">
        <div class="loading-spinner"></div>
      </div>
      
      <div id="placesList">
        <div id="showedPlaces" class="d-none d-md-block">
          <ul class="list-group border-top" id="ulist"></ul>
        </div>

        <div id="hiddenPlaces"
          style="display:none; visibility:hidden;"
          class="container text-center">
          Désolé, nous n'avons pas trouver d'annonces sur cette zone.<br>
        </div>
      </div>

      <div class="container" id="filters">

        <div class="d-flex align-items-center py-2">
          <div class=filtersLabel>
            <span class="fw-100">Loyer</span>
          </div>
          <div class="d-none d-md-flex align-items-center mb-0" style="flex-shrink: 0;">
            <label class="text-toggle mb-0">
              <input type="checkbox" id="sorting">
              <span class="tslider"></span>
              <span class="tlabel-off">Plus Bas</span>
              <span class="tlabel-on">Plus Haut</span>
            </label>
          </div>
          <div style="flex: 1; min-width: 0; padding-left: 15px; padding-right: 15px;">
            <input id="dual-rent-slider">
          </div>
        </div>

        <hr style="margin: 4px 0;">

        <div class="d-flex align-items-center py-2">
          <div class=filtersLabel>
            <span class="fw-100">Pièces</span>
          </div>
          <div style="flex: 1; min-width: 0; padding-right: 15px;">
            <div class="d-flex w-100">
              <button type="button" id="0bed" class="btn button-filter-lg flex-fill mr-2">Studio</button>
              <button type="button" id="1bed" class="btn button-filter flex-fill mr-2">1</button>
              <button type="button" id="2bed" class="btn button-filter flex-fill mr-2">2</button>
              <button type="button" id="3bed" class="btn button-filter flex-fill mr-2">3</button>
              <button type="button" id="4bed" class="btn button-filter flex-fill">4+</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6 col-lg-8 d-none d-md-block">
      <div id="placesPin">
        <div id="map"></div>
        <div id="map-offline" style="display:none;">
            <i class="fa-solid fa-wifi" style="font-size:32px; color:#ccc; margin-bottom:16px;"></i>
            <p style="color:#aaa; font-weight:100; font-size:17px;">Vous n'êtes pas connecté à internet.</p>
        </div>
        <div id="addbutton" class="overlay">
          <a href="<%= create_place_path %>" class="fab-btn" aria-label="Add place">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>

